<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapleaf.mobilesafe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.mapleaf.home" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingActivity" />
        <activity android:name=".ProtectActivity" />
        <activity android:name=".ProtectSetting1Activity" />
        <activity android:name=".ProtectSetting2Activity" />
        <activity android:name=".ProtectSetting3Activity" />
        <activity android:name=".ProtectSetting4Activity" />

        <receiver
            android:name="com.mapleaf.receiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".ContactActivity" />
        <activity android:name=".AToolsActivity" />
        <activity android:name=".AddressActivity" />

        <service
            android:name="com.mapleaf.service.AddressService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name="com.mapleaf.receiver.Addressreceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.mapleaf.com.toast" />
            </intent-filter>
        </receiver>

        <activity android:name=".LocationActivity" />

        <service
            android:name="com.mapleaf.service.RocketService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".BackgroundActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".BlackListActivity" />
        <activity android:name=".SoftManageActivity" />
        <activity android:name=".TaskManageActivity" />

        <receiver
            android:name="com.mapleaf.receiver.MyWidgetReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_appwidget_info" />
        </receiver>

        <service
            android:name="com.mapleaf.service.WidgetService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.mapleaf.service.WatchDogService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".WatchDogActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".LiuliangActivity" />
        <activity android:name=".ShaDuActivity" />
        <activity android:name=".ClearCacheActivity"></activity>
    </application>

</manifest>